<div class="page-divider" aria-hidden="true"></div>

<section class="timeline" aria-labelledby="timeline-title">
	<h3 id="timeline-title">EXPERIENCE</h3>

	<div
		class="timeline-item"
		data-include="experiences/experience-01.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-02.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-03.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-04.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-05.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-06.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-07.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-08.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-09.html"></div>
	<div
		class="timeline-item"
		data-include="experiences/experience-10.html"></div>
</section>
